# Python cache files
__pycache__/
*.pyc

# Virtual environment
.env
venv/
.venv/

# IDE settings
.idea/
.vscode/

# macOS files
.DS_Store

# Egg Info
*.egg-info/

# Build and distribution files
build/
dist/